USE [master]
GO
/****** Object:  Database [Product_Test1_DB]    Script Date: 20.05.2023 10:22:24 ******/
CREATE DATABASE [Product_Test1_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Product_Test1_DB', FILENAME = N'C:\Users\Yurii_S\Product_Test1_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Product_Test1_DB_log', FILENAME = N'C:\Users\Yurii_S\Product_Test1_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Product_Test1_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Product_Test1_DB]
GO
USE [Product_Test1_DB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 20.05.2023 10:22:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 20.05.2023 10:22:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'A')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'B')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'sdasd')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [CategoryId]) VALUES (1, N'Bab', N'basdas', 2)
INSERT [dbo].[Product] ([Id], [Name], [Description], [CategoryId]) VALUES (2, N'Bobrr', N'dasdas', 4)
INSERT [dbo].[Product] ([Id], [Name], [Description], [CategoryId]) VALUES (3, N'Dom', N'dasdas', 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
